__pycache__/
*.pyc
.venv/
.env
.env/
cache/
results/raw/*
!results/raw/.gitkeep
*.egg-info/
.pytest_cache/
.ruff_cache/
.python-version
uv.lock
project_log.md
results.md
results/
.DS_Store
.ipynb_checkpoints/
wandb/
*.log
